@import '../colors';
@import '../mixins';
@import '../typography';

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid $border-light;
  background-color: $bg-white;
  padding: 24px 0;
  @include shadow-sm;
}

.card-header {
  display: grid;
  grid-template-rows: auto auto;
  align-items: start;
  gap: 8px;
  padding: 0 24px;
}

.card-header.has-action {
  grid-template-columns: 1fr auto;
}

.card-title {
  line-height: 1;
  font-weight: $font-semibold;
  color: $default-text-color;
}

.card-description {
  font-size: $text-sm;
  color: $text-placeholder;
}

.card-action {
  grid-column-start: 2;
  grid-row: 1 / 3;
  align-self: start;
  justify-self: end;
}

.card-content {
  padding: 0 24px;
}

.card-footer {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.card-footer.border-t {
  padding-top: 24px;
}

.card-header.border-b {
  padding-bottom: 24px;
}

