@import '../colors';
@import '../mixins';
@import '../typography';

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: $text-sm;
  line-height: 1;
  font-weight: $font-medium;
  user-select: none;
  color: $default-text-color;
}

.label[data-disabled] {
  pointer-events: none;
  opacity: 0.5;
}

